body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

/* Headings */

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Section */

.red-section {
  background-color: #ef8172;
  color: white;
}

.white-section {
  background-color: white;
}

/* Title */

#title {
  background-color: #ff4c68;
  text-align: left;
  padding: 4% 15%;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

.navbar-brand {
  font-family: "Ubunuty", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

/* download buttons */
.btn-download {
  margin: 5% 3% 5% 0;
}

/* title */
.title-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.title-phone {
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  width: 60%;
  position: absolute; /* Allows us to be overlapped */
  right: 30%;
}

/* Feature section */
#features {
  position: relative; /* Allows us to overlap the phone */
  padding: 4% 15%;
}

.feature-desc {
  margin: 2rem auto;
}
.feature-icon {
  color: #ef8172;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-header {
  font-size: 1.5rem;
  padding: 1rem;
}

.feature-p {
  font-family: "Montserrat", sans-serif;
  color: #8f8f8f;
}

/* testimonials */
#testimonials {
}

.carousel-item {
  padding: 5% 15%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* press */
#press {
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}

/* call to action */
#cta {
  padding: 50px 0px;
}

.cta-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

.cta-button {
  margin-bottom: 3rem;
}

/* footer */
#footer {
  padding: 7% 15%;
}

.footer-links {

}

.footer-link {
  display: inline;
  padding: 0.7rem 0.35rem;
}

.copyright {
  color: grey;
}

/* Styling for a phone */
@media (max-width: 1028px) {
  .title-phone {
    position: static;
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
