body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15%;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

.navbar-brand {
  font-family: "Ubunuty", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

/* download buttons */
.btn-download {
  margin: 5% 3% 5% 0;
}

/* title */
.title-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.title-phone {
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  width: 60%;
}

/* Feature section */
.feature-section {
  position: relative;
  bottom: 15rem;
  background-color: white;
}

.feature-desc {
  text-align: center;
  margin: 2rem auto;
}
.feature-icon {
  color: #ef8172;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 1rem;
}

.feature-p {
  font-family: "Montserrat", sans-serif;
  color: #8f8f8f;
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 5% 15%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}
